extends layout

block content
	div(id="search") 
		h1 Which domain would you like to search?
		form(method="GET", action="/search")
			input(type="text" name="domain" class="query")
			br
			select(name="source" class="source")
				option(selected) google
				option bing
				option pgp
				option linkedin
				option google-profiles
				option people123
				option jigsaw
			select(name="limit" class="limit")
				option 50
				option 100
				option(selected) 200
				option 500
				option 1000
			br
			input(type="submit" value="search" class="submit")